<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- As a link -->
  {{!-- {{> header}} --}}
  {{{body}}}
</body>

</html>